@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;700&display=swap');

body, html 
{
  font-family: 'Josefin Sans', sans-serif;
  background-color: #000000;
}


/* The hero image */
.hero-image 
{
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/Hero.jpg");*/
  background-image: url("images/Hero.jpg");

  /* Set a specific height */
  height: 100vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}



.sec_nav
{
  padding: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
}

.navbar_div
{
  position: absolute;
  /* overflow: hidden; */
  z-index: 1;

  width: 100%;
}

.second_layer_nav.navbar
{
  padding: 0px;
}

.first_layer_nav
{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 0.9rem;

    /*color: rgba(165,157,144,.75) !important;*/
    color: #e7ba7a !important;
    background-color: rgba(20,20,20,.8) !important;
}

@media screen and (max-width: 768px)
{
    .first_layer_nav
    {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 400;
        text-transform: none;
        font-size: 0.9rem;
    
        /*color: rgba(165,157,144,.75) !important;*/
        color: #e7ba7a !important;
        background-color: rgba(20,20,20,.8) !important;
        /* border: 1px solid red; */
        padding-left: 60px;
    }
}

.second_layer_nav
{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 0.95rem;

    color: white !important;
    background-color: rgba(20,20,20,.98) !important;
}

.navbar-brand
{
  color: #db9839 !important;
  font-size: 25px;
}

.second_layer_nav .nav-link
{
  color: white !important;
}

.second_layer_nav .dropdown-item, .dropdown-menu
{
  background-color: black;
  color: white;
}


img.logo {
   filter: brightness(120%);
   height: 70px;
   margin-bottom: 10px;
}

@media screen and (max-width: 768px)
{
   
  img.logo 
  {
    filter: brightness(120%);
    height: 50px;
    margin-bottom: 10px;
  }

  .navbar-brand
  {
    color: #db9839 !important;
    font-size: 20px;
  }

}


/* stroke */
nav.stroke ul li a
{
  position: relative;
}

nav.stroke ul li a:after
{
  position: absolute;
  /*bottom: 0;*/
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  /*#AD854D*/
  background: #db9839;
  height: 3px;
}

nav.stroke ul li a:hover:after
{
  width: 100%;
}

nav.stroke ul li a:hover
{
    color: #db9839 !important;
}

nav.stroke ul li
{
  margin-left: 6px;
  margin-right: 6px;
}


nav.stroke ul li a.active_nav_link
{
    color: #db9839 !important;
}

nav.stroke ul li a.active_nav_link:after
{
  position: absolute;
  /*bottom: 0;*/  
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  /*#AD854D*/
  background: #db9839;
  height: 3px;
}

nav.stroke ul li a.active_nav_link:after
{
  width: 100%;
}


.third_layer_nav
{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    text-transform: none;
    font-size: 1rem;

    /*color: rgba(165,157,144,.75) !important;*/
    color: #e7ba7a !important;
    background-color: rgba(20,20,20,.8) !important;

    padding: 0px;
    width: 100%;
}


.footer
{
  color: white !important;
  background-color: rgba(20,20,20,.98) !important;
  padding: 10px;
}

.footer_layer_nav
{ 
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 1rem;

    padding-top: 20px; 
    padding-bottom: 20px;  

}


img.footer_logo
{
  filter: brightness(120%);
  height: 80px;
  padding: 0px;
}


.tybon
{
  color: white   !important;
  background-color: transparent;
  text-decoration: none;

  font-size: 20px;
  font-weight: 400;

  margin: auto;
}

/* ul{
  position: fixed !important;
  right: 0;
  left: auto;
  z-index: 999999;
} */


 .tybon:hover
 {
  color: #db9839 !important;
  text-decoration: none;
 }



 .fa-facebook, .fa-google

 {
   color: white !important;
 }
 
 .fa-facebook:hover, .fa-google:hover 
  {
   color: #db9839 !important;
   text-decoration: none;
  }
 


/* The hero image */
.hero-image 
{
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/Hero.jpg");*/
  background-image: url("images/Hero.jpg");
  opacity: 0.8;

  /* Set a specific height */
  height: 100vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container-fluid {
  width: 1200px;
}


.about-us 
{
  padding: 30px;
  /* background-color: rgba(0, 0, 0, 0.1); */
  border-radius: 5px;
  backdrop-filter: blur(5px);
  /* border: 2px solid red; */
}


@media screen and (min-width: 769px) {
    .about-us-header {
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 700;
      font-size: 2rem;
      color: #db9839;
      text-shadow: 0px 0px 2px #000000;
      margin-top: 20px;
  }

  .about-us-content {
    font-family: 'Josefin Sans', sans-serif;
        color: white;
        text-shadow: 0px 0px 5px #000000;
        margin-bottom: 10px;
        font-size: 1.2rem;
        font-weight: 400;
  }
}

@media screen and (max-width: 768px) 
{
    .about-us-header 
    {
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 700;
      font-size: 2rem;
      color: #db9839;
      text-shadow: 0px 0px 6px #000000;
      margin-top: 20px;
    }
  
    .about-us-content 
    {
      font-family: 'Josefin Sans', sans-serif;
        color: white;
        margin-bottom: 10px;
        text-shadow: 0px 0px 5px #000000;
        font-size: 1.5rem;
        font-weight: 400;
    }
}


.icons_navbar
{
  filter: invert(79%) sepia(35%) saturate(533%) hue-rotate(343deg) brightness(95%) contrast(90%);
  height: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.mobile_view_icons
{
  display: none;
}

@media(max-width: 768px) 
{
  .mobile_view_icons
  {
    display: block;
  }

  .icons_navbar
  {
    filter: invert(79%) sepia(35%) saturate(533%) hue-rotate(343deg) brightness(95%) contrast(90%);
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
}

@media(max-width: 768px) 
{
  .screen_view_icons
  {
    display: none;
  }
}

.third_layer_nav
{
    text-align: center;
}


